*{
  font-family: Palatino;
}

header{
  background: no-repeat center center;
  background-size: cover;
  background-color: #FEFEFE;
}

body{
  background-color: #FEFEFE;
}

.pexels-markus{
  backdrop-filter: blur(5px);
}
.row{
  margin-top: calc(0 * var(--bs-gutter-y));
}
h1.web{
  color: #FEFEFE;
}

.color-overlay{
  background-color: rgba(0, 0, 0, 0.6);
  min-height: 60vh;
}

.singleCol{
  max-width: 750px;
  background-color: #FEFEFE;
}

.profile.PNG{
  border: 2px solid #4E3622;
  border-radius: 15px;
  filter: grayscale(30%);
}
.nav-link{
  font: 20px;
  color: #35271E;
}

.nav-link:hover{
  color: #4E3622;
}

.navvy{
  background-color: ##FEFEFE;
}

.navbar-light,
.navbar-toggler{
  border-color: #DAD3C9;
  color: #DAD3C9;
}

.navbar-light,
.navbar-toggler:hover{
  border-color: #4E3622;
  color: #4E3622;
}

.btn-outline-dark{
  background-color:#4E3622; 
  align-items: center;
}

.btn-outline-dark:hover{
  background-color: #35271E;
  color: #AAA39B;
}

footer{
  height: 0;
  background-color: #4E3622;
  margin-top: calc(0 * var(--bs-gutter-y));
}

footer a{
    color: #dfdfdf;
}

footer a:hover{
    color:#35271E;
}
@media (max-width:768.98px){
  .color-overlay{
      (min-width: 30vh);
  }
}
